body {
  background-color: black;
}

#logo-container {
  display: flex;  
  justify-content: center;
  align-items: center;
  height: 25vh; /* O ajusta la altura segun sea necesario */
}

#search-container {
  text-align: center; /* Centra el contenido horizontalmente */
  margin-top: 20px; /* Ajusta el margen superior segun sea necesario */
}

#search-input {
  padding: 15px; /* Ajusta el relleno segun sea necesario */
  font-size: 18px; /* Ajusta el tamano de fuente segun sea necesario */
  width: 444px; /* Ajusta el ancho segun sea necesario */
  border: 2px solid #ccc; /* Agrega un borde para mejorar la apariencia */
  border-radius: 8px; /* Agrega bordes redondeados */
  outline: none; /* Quita el resaltado al hacer clic */
  margin: 0 auto;
}

.logo-image, .banner-image {
  display: block;
  margin: 0 auto;
}

#eventos-container {
  max-width: auto;
  margin: 0 auto; 
  gap: 100px;  
  padding-top: 20px; /* Espacio arriba */
  padding-right: 40px; /* Espacio a la derecha */
  /*padding-bottom: 10px;  Espacio abajo */
  padding-left: 40px; /* Espacio a la izquierda */
}

.bandera {
  width: 25px; 
  height: 25px; 
  margin-right: 10px; 
}

.evento-header {
  cursor: pointer;
}

 /* Titulos hora y categoria */
.info-evento-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.category-evento {
  font-size:  15px; 
  display: block; 
}

/* name event hora y logos */
.texto-imagenes-container{
  /* display: flex; */
  /* align-items: center; */
  justify-content: flex-start;
}

.evento p {
  margin: 0; 
}

.evento {
  font-family: "Proxima Nova", system-ui, sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1px;
  border-radius: 1px;
  color:rgb(0, 0, 0);
  width:auto;
  padding: 10px 10px 50px 10px; 
  border:2px solid #ffffff;
  margin:auto;  
  background-color:#ffffff;
  margin-bottom: 10px;                                 
}

.evento {
  font-size: 20px; 
  margin-bottom: 10px; 
}
.evento .hora-evento {
  font-size:  20px; 
  text-align: center; 
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2; 
}

.texto-evento-izquierda {
  text-align: left; 
  position: absolute; 
  right: 60%;
  transform: translateX(-1%);
  z-index: 2;
}

.logo-evento-local {
  text-align: left; 
  position: absolute; 
  right: 54%;
  transform: translateX(-1%);
  z-index: 2;
}

.logo-evento-visita {
  text-align: left; 
  position: absolute;
  left: 54%;
  transform: translateX(+1%);
  z-index: 2;
}

.texto-evento-derecha {
  text-align: left; 
  position: absolute;
  left: 60%;
  transform: translateX(+1%);
  z-index: 2;
}


/*
-------Detalles
*/

.evento .detalle-evento {
  grid-column: 1 / -1; 
  list-style: none; 
  font-size: 20px; 
  padding-top: 40px; /* Espacio arriba */
  padding-right: 10px; /* Espacio a la derecha */
  /*padding-bottom: 10px;  Espacio abajo */
  padding-left: 10px; /* Espacio a la izquierda */
  padding-bottom: 0px !important;
}

.detalle-evento li {
  margin-bottom: 10px; 
}

.detalle-evento img {
  max-width: 100%; 
  height: auto;  
}

.detalle-evento a {
  color: #007BFF;
  text-decoration: none; 
}
